@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.rotate-img {
    width: 120px;
    height: 120px;
    animation: rotate 4s infinite linear;
}
